.header__logo {
    width: 142px;
    height: 33px;
}

.header__logo:hover {
    opacity: .8;
    transition: .4s;
}

@media screen and (max-width: 917px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 630px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
}